<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>atmzr</title>
		<style>
			body {
				font-family: sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>atmzr</h1>
        <p>Welcome to atmzr!</p>
        <p>Please visit <a href="https://github.com/cheinrichs/linkShortener">https://github.com/cheinrichs/linkShortener</a> for more information.</p>
	</body>
</html>